<div class="container py-5">
  <div class="text-center mb-5">
    <h1 class="display-4">Welcome to the Exam Portal</h1>
    <p class="lead">Please select an option below:</p>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <button class="btn btn-primary btn-lg btn-block" (click)="onReportClick()">View Report Card</button>
    </div>
    <div class="col-md-6 mb-3">
      <button class="btn btn-success btn-lg btn-block" (click)="onNewExamClick()">Start a New Exam</button>
    </div>
  </div>
</div>