<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ userName }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <ng-container *ngIf="!isAdmin">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
          </li>
          <ng-container *ngIf="isLoggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="isAdmin">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Home</a>
          </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-registration" routerLinkActive="active">Register</a>
          </li>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" href="/" (click)="logout()">Logout</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
