.section {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section li {
  margin-bottom: 10px;
}

.section li:before {
  content: "\2022";
  font-size: 18px;
  color: #337ab7;
  margin-right: 10px;
}

h1{
  text-align: center;
}